/* the main container */
.main-container {
  margin-top: 40px;
}


/* the search container */
.search-container {
  display: inline-block;
  margin: 0 40px;
}

.search-container input {
  width: 320px;
}


/* the sorting-by container */
.sorting-container {
  display: inline-block;
}


/* All rolls container */
.rolls-container {
  display: flex;
  flex-wrap: wrap;
}

.rolls-container div {
  margin: 40px;
}